<!DOCTYPE html>

<html lang="pt-br" class="scroll">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Solar</title>

    <link rel="shortcut icon" href="imagens/icon.ico.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body>
    <div class="corpo">
        <h1 class="dash">Dashboard</h1>
        <h2 class="info">Aqui estão todas as informações para seu Sistema Solar!</h2>
        
        <ul class="flex1">
            <li>
                <h2 class="textbox"> Consumo Mensal </h2>
                <h1 class="num"> {{consumo}} kWh<h1>         
            </li>

            <li>
                <h2 class="textbox"> Potência Total </h2>
                <h1 class="num"> {{ptotal}} Kwp</h1> 
            </li>
        </ul>
        <ul class="flex2">
            <li>
                <h2 class="textbox">Potência Máxima do Inversor</h2>
                <h1 class="num"> {{pmax}} Kw</h1>
            </li>
        
            <li>
                <h2 class="textbox">Potência Mínima do Inversor </h2>
                <h1 class="num"> {{pmin}} Kw </h1>
            </li>
            
        </ul>

        <h2 class="box1"> De acordo com a Tarifa Energética do seu Estado e o seu consumo de energia mensal, fizemos uma previsão de quanto você economizaria ao passar de: <br><br>
            3 Meses: R$ {{mes_tres}}<br>
            6 Meses: R$ {{mes_seis}}<br>
            1 Ano: R$ {{ano_um}}<br>
            2 Anos: R$ {{ano_dois}}<br>
            5 Anos: R$ {{ano_cinco}}<br>

        <h2>
        <h2 class="contato">Entre em contato conosco para solicitar um orçamento mais detalhado e agendar sua instalação! Clique no botão abaixo! </h2>
        
        <a href="https://www.instagram.com/plena_energiasolar/" target="_blank" class="bottom">Orçamento</a>

    </div>
</body>
<hr>
<footer class="rodape">
    Desenvolvido por Gislany Dias <br>
    <a href="https://www.instagram.com/_gislanydiasf/ " target="_blank">Instagram</a> | <a href="https://www.linkedin.com/in/gislany-dias-ba192321b" target="_blank">Linkedin</a>
</footer>
</html>